body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    /* padding: 50px; */
    margin: 0;
}

main {
    border: 1px solid red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: whitesmoke;
    margin: 0 auto;
    width: 450px;
    min-height: 600px;
}

.encabezado {
    padding: 15px;;
    display: flex;
    justify-content: space-between;
}

.encabezado-left {
    margin: 0;
    display:flex;
    justify-content: left;
}

.encabezado-left i {
    font-size: 35px;
}

.encabezado-right {
    padding-top: 8px;
}

.encabezado-right i {
    font-size: 25px;
}

img {
    width: 450px;
}

.icons {
    padding: 15px;
    display:flex;
    justify-content: space-between;
}

i {
    font-size: 25px;
    align-self: center;
    padding-right: 10px;

}
.left {
    display:flex;
    justify-content: left;
}

.pie {
    padding: 15px;
    text-align: justify;
}
